pipeline/mvp_sprintIII.json
{
	"name": "mvp_sprintIII",
	"properties": {
		"activities": [
			{
				"name": "Vulns_Alerts_Bigtechs",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Vulnerability_alerts",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ES Ingest",
				"description": "Inesto to Elasticsearch cluster",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "Vulns_Alerts_Bigtechs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://mvp-puc.brunoodon.com.br:9200/vulnerability-alerts-df/_doc",
					"method": "POST",
					"headers": {
						"Content-type": "application/json"
					},
					"body": {
						"value": "@activity('Vulns_Alerts_Bigtechs').output",
						"type": "Expression"
					},
					"timeout": "00:10:00"
				}
			}
		],
		"annotations": []
	}
}